body {
        background-color: #f0f0f2;
        margin: 0;
        padding: 0;
        font-family:univers Pro 65 Bold, gill sans,arial,sans-serif;
        top:0; bottom: 0; left:0; right:0;
        border:0;
        

        
    }
    p{margin:0; padding: 0;border: 0;

    }
    div {
        
        margin:0;
        padding:0;
        color:#888888;
    }

    #part1 {
        height:700px;
        width: auto;
       
        
        background-color: #fff;
        
        background-image: url('../images/broken-egg1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        /*border-radius: 50px;*/
    }

    #content_a{
        font-size: 150px;
        line-height: 80%;
        width: auto;
        padding-top:0.5em;
        padding-left:.5em;
        color:#ffffff;
        text-shadow: 1px 1px #999999;

        
        /*border-radius: 50px;*/
    }

    #content_a span{
        font-size: 150px;
    }

    #part2{
        height:700px;
        width: auto;
       
        padding: 50px;
        background-color: #fff;
        color:#ff0000;
        background-image: url('../images/wall.jpg');
        /*border-radius: 50px;*/
    }
    #content_b{

        font-size: 30px;
        width: auto;
        padding:50% auto;

    }

    #part2_box {
        background-color: #ff0000;
        opacity: 0;
        height: auto;
        width: 40%;
        
        color:#ffffff;
        padding: 50px;
        margin:400 auto 0 auto;
        


    }
    #blood{
        position: absolute;
        opacity: 0;
        width: auto;
        background-size: cover;

    }

    #part3{
        height:700px;
        width: auto;
       
        padding: 50px;
        background-color: #000;
        color:#ff0000;
        
        /*border-radius: 50px;*/
        
       
    }

    #content_c{
        font-size: 60px;
        width: auto;
        padding-top:150px;
        padding-left:2em;
        position: absolute;
        /*border-radius: 50px;*/
    }
    #troop{
        position: relative;
    }

    .odd{
     float: left;
     
     }
    .double{
     opacity:0;
    
     }


    #part4{
        height:700px;
        width: auto;
       
        padding: 50px;
        background-color: #fff;
        color:#ffffff;
        background-image: url('../images/Humpty-games.png');
        background-position: center;

    }

        /*border-radius: 50px;*/
    #content_d{
        font-size: 60px;
        width: auto;
        padding-top:300px;
        padding-left:2em;
        /*border-radius: 50px;*/
    }
    #part5{
        height:700px;
        width: auto;
       
        padding-top: 60px;
        background-color: #fff;
        color:#ffffff;
        background-image: url('../images/last.jpg');
        background-repeat:no-repeat;
        background-size: cover;

    }

    #block1{
        opacity: 0;
    }
     #block{
        background-image: url("../images/puss.jpg");
    }
#content_e{
        font-size: 24px;
        width: auto;
        padding-top:150px;
        padding-left:2em;
margin:0;
    }

    a:link, a:visited {
        color: #38488f;
        text-decoration: none;
    }
.float-left:{
    float:left;
}
.noborder:{
    border-width:0px;
}
/*css for form*/
#myForm{
    margin left:10px;

}

#myForm{
    margin: 20px;
    margin-top: 0px;

}

#form-submit{
    width: 100px;
    height:30px;
    background-color: #ff0000;
    color:#ffffff;
    border: 0;

}
#form-submit:hover {
    background-color: #00ff00;

}

#user-name{
    border-width: 0px;
    border-style: none;
    border-color: transparent;
    background-color: #888888;
    width:300px;
    height:30px;

}
#answer_submit{
    color: #ffffff;
    font-size: 36px;
    margin-left: 20px;

}
/*css for part 6*/
#part6 {
        height:700px;
        width: auto;
        
        background-color: #ffe400;}
#content_f{
    font-size: 80px;
    font-family: gill sans;
    padding:200px 20% 30px 20%;

}
.formBt{
    padding-left: 200px;
}

.choose{ 
    width: 250px;
    height:50px;
    margin-left: 10px;
    display: inline-block;
    
    


}
 @media (max-width: 768px){
    .choose{ 
    width: 150px;
    height:50px;
    font-size: 12px;


}

 }  


/*
    @media (max-width: 700px) {
        body {
            background-color: #005;
        }
        div {
            width: auto;
            margin: 0 auto;
            border-radius: 30px;
            padding: 1em;
        }
    }
    */