body {
        background-color: #f0f0f2;
        margin: 0;
        padding: 0;
        font-family:univers Pro 65 Bold, gill sans,arial,sans-serif;
        top:0; bottom: 0; left:0; right:0;
        border:0;
        

        
    }
    p{margin:0; padding: 0;border: 0;

    }
    div {
        
        
        color:#888888;
    }

    #part1 {
        height:700px;
        width: auto;
       
        
        background-color: #fff;
        
        background-image: url('../images/broken-egg1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        /*border-radius: 50px;*/
    }

    #content_a{
        font-size: 150px;
        line-height: 80%;
        width: auto;
        padding-top:0.5em;
        padding-left:.5em;
        color:#ffffff;
        text-shadow: 1px 1px #999999;

        
        /*border-radius: 50px;*/
    }

    #content_a span{
        font-size: 150px;
    }

    #part2{
        height:700px;
        width: auto;
       
        padding: 50px;
        background-color: #fff;
        color:#ff0000;
        background-image: url('../images/wall.jpg');
        /*border-radius: 50px;*/
    }
    #content_b{

        font-size: 30px;
        width: auto;
        padding:50% auto;

    }

    #part2_box {
        background-color: #ff0000;
        opacity: 0;
        height: auto;
        width: 40%;
        
        color:#ffffff;
        padding: 50px;
        margin-top:70%;
        


    }
    #blood{
        position: absolute;
        opacity: 0;
        width: auto;
        background-size: cover;

    }

    #part3{
        color:#ffffff;
        
        /*border-radius: 50px;*/
        
       
    }

    #content_c{
        font-size: 60px;
        width: 600px;
        padding-left: 2em;
        padding-top:150px;
        
        
        /*border-radius: 50px;*/
    }
    #troop{
        position: relative;
    }

    .odd{
     float: left;
     
     }
    .double{
     opacity:0;
    
     }


    #part4{
        height:700px;
        width: auto;
       
        padding: 50px;
        background-color: #fff;
        color:#ffffff;
        background-image: url('../images/Humpty-games.png');
        background-position: center;

    }

        /*border-radius: 50px;*/
    #content_d{
        font-size: 60px;
        width: auto;
        padding-top:300px;
        padding-left:2em;
        /*border-radius: 50px;*/
    }
    #part5{
        height:700px;
        width: auto;
       
        padding-top: 60px;
        background-color: #fff;
        color:#ffffff;
        background-image: url('../images/last.jpg');
        background-repeat:no-repeat;
        background-size: cover;

    }

    #block1{
        opacity: 0;
    }
     #block{
        background-image: url("../images/puss.jpg");
    }
#content_e{
        font-size: 24px;
        width: auto;
        padding-top:150px;
        padding-left:2em;
margin:0;
    }

    a:link, a:visited {
        color: #38488f;
        text-decoration: none;
    }
.float-left:{
    float:left;
}
.noborder:{
    border-width:0px;
}
/*css for form*/
#myForm{
    

    margin: 20px;
    margin-top: 0px;

}

#form-submit{
    width: 100px;
    height:30px;
    background-color: #ff0000;
    color:#ffffff;
    border: 0;

}
#form-submit:hover {
    background-color: #00ff00;

}

#user-name{
    border-width: 0px;
    border-style: none;
    border-color: transparent;
    background-color: #888888;
    width:300px;
    height:30px;

}
#answer_submit{
    color: #ffffff;
    font-size: 36px;
    margin-left: 20px;

}
/*css for part 6*/
#part6 {
        width: auto;
        position: relative;
        background-color: #ffe400;
        overflow: hidden;
        }
#content_f{
    font-size: 80px;
    font-family: "gill sans";
    padding:200px 20% 30px 20%;

}
#formBt{
    
    margin-left: 13em;
    
    width: 80%;

}

.choose{ 
    width: 260px;
    height:50px;
    margin-left: 20px;
    background-color: #ffffff;
    border:0;
    margin-bottom:10px;
}
.choose:hover{
    background-color:#f48916 ;
    color: #ffffff;
    cursor:pointer;
}

 @media (max-width: 920px){
    .choose{ 
    width: 500px;
    height:50px;
    font-size: 10px;
}
    #formBt{
    margin-left: 10em;
    
    width: 80%;
}

    #content_a{
        font-size: 130px;
    }

}


.result{
    width:auto;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: none;
    opacity: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
 #part7{
    background-image: url('../images/story1.jpg');

 }
 #part7:hover{
    cursor: pointer;
 }


.boxText{
  color: #ffffff;
  font-size: 20px;
  padding-left: 5%;
  padding-top:60px;
  background:#31d0ed;

  width: 400px;
  height: 100px;
  margin: 20% 5em;
  font-family: "gill sans";
  transition: transform 1s linear;
  transform-origin: top left;
  transform-style: preserve-3D;
  box-shadow: 5px 5px #dddddd;
  opacity: 0;

}



.boxText1{
  color: #ffffff;
  font-size: 20px;
  padding-left: 5%;
  padding-top:60px;
  background:#000000;

  width: 400px;
  height: 100px;
  margin-top: 40%;
  font-family: "gill sans";
  
  opacity: 0.8;

}


.box-rotate {
    opacity: 0.8;
  transform: rotate(360deg);
}

 #part8{
    background-image: url('../images/story2.jpg');

 }
 #part9{
    background-image: url('../images/story3.jpg');

 }


/*
    @media (max-width: 700px) {
        body {
            background-color: #005;
        }
        div {
            width: auto;
            margin: 0 auto;
            border-radius: 30px;
            padding: 1em;
        }
    }
    */